<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kcup.drinkgame.k_cup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/style_no_need_player">
        <activity
            android:name="home.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/kcup_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dialog.WarningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player" />

        <activity
            android:name="dialog.homeOptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player" />

        <activity
            android:name="player.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name="player.ChooseGameModeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name="player.PlayerBerserkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name="player.BeginGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player" />

        <activity
            android:name="player.BeginGameBerserkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_berserk_black" />

        <activity
            android:name="game.NoNeedPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player" />

        <activity
            android:name="game.ChallengeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_challenge" />

        <activity
            android:name="game.ChoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_choice" />

        <activity
            android:name="game.NewRuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_new_rule" />

        <activity
            android:name="game.NewRuleNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_new_rule" />

        <activity
            android:name="game.KcupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_kcup" />

        <activity
            android:name="end.EndGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/style_no_need_player" />

        <activity
            android:name="dialog.CancelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2c075f7e7c3929525aa5ba75ba8432fe865bce13" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>